@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "defaults";

/* Font Usage
font-family: 'nexa_boldregular', sans-serif;
font-family: 'nexa_lightregular', sans-serif;
font-family: 'icomoon';
*/

/* ------------------------------------
 Drupal defaults
-------------------------------------*/
#sidebar .block {
    clear: both;
    margin-bottom: 20px;
}
.view-content ul, .view-content ol {
  margin: 0;
  padding: 0;
}
.item-list ul li.views-row, .views-row {
  list-style: none;
  margin:0;
  padding: 0;
  position: relative;
}
/* tabs */
ul.primary {
  height: 26px;
  margin-left: 0;
  padding-left: 1%;
  li {
    display: inline;
    margin: 0;
    padding: 0;
    a {
      border-radius: 3px 3px 0 0;
      font-size: .8em;
      padding: 7px 7px 3px;
    }
  }
}
/* Forms */
form small, form .description {
  color: #5f5f5f;
}
label, label.required {
  color: #455f93;
  font-weight: 500;
}
input[type="text"], input[type="password"], input[type="email"] {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font: 1em 'nexa_lightregular', sans-serif;
  margin: 10px 0;
  padding: 10px;
  /* all */
  &:focus::-webkit-input-placeholder { color:#ccc; }
  &:focus::-moz-placeholder { color:#ccc; } /* firefox 19+ */
  &:focus:-ms-input-placeholder { color:#ccc; } /* ie */
}
#main-content {
  input[type="text"], input[type="password"], input[type="email"] {
    background-color: #f2f2f2;
  }
}
input[type="submit"] {
  background: #3d3d3d;
  border: none;
  border-radius:4px;
  color: #fff;
  cursor: pointer;
  font: 1em 'nexa_lightregular', sans-serif;
  padding: 10px 6px;
  margin-top: 10px;
  text-transform: uppercase;
  &:hover {
    background-color:tint(#3d3d3d, 10%);
  }
}
textarea {
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 4px 0 0;
  min-height: 150px;
  padding: 2%;
}
#page input[type="submit"] {
  @include btn;
  padding: 6px 18px;
}
/* User Login */
#user-login {
  div {
    margin: 15px 0;
  }
  label {
    display: block;
  }
}
/* responsive images, videos */
img, object, video {
  height: auto;
  max-width: 100%;
}
/* Overrides for Media module to make fitVids work */
.media-youtube-outer-wrapper, .media-youtube-preview-wrapper, .media-vimeo-outer-wrapper, .media-vimeo-preview-wrapper {
    height: auto !important;
    width: auto !important;
}
.views-field-title {
  h2 {
    margin-bottom: 5px;
  }
  a {
    color: #000;
    &:hover {
      color: $gray;
    }
  }
}
.views-field-body p {
  margin-top: 0;
}
.views-exposed-widget.views-submit-button {
  margin: 17px 0;
}
@include editorstyles;
/* ------------------------------------
 Layout & General
-------------------------------------*/
#header-inner, #page-inner, #post-inner, #footer-inner {
  @include outer-container;
  position: relative;
}
.oldie {
  #header-inner, #page-inner, #post-inner, #footer-inner {
    min-width: 1156px;
  }
}

body {
  background: url(../images/blue-bg.jpg);
}
.back-link {
  @include btn;
  background-color:$blue;
  float: left;
  margin-bottom:16px;
  &:before {
    content: "«";
    padding-right:6px;
  }
}
/* ------------------------------------
 Header
-------------------------------------*/
header, footer {
  background:url(../images/nav-bg.png) repeat-x scroll 0 0;
  display: block;
  width: 100%;
  nav {
    float: right;
    margin-top: 70px;
    position: relative;
    li {
      display: inline-block;
      margin-left: 5px;
      position: relative;
      &.active a {
        background-color:#fff;
        color: $blue;
      }
      ul {
        background-color:#000;
        border-radius:10px;
        padding: 0;
        position: absolute;
        top: 39px;
        left: -115px;
        opacity: 0;
        width: 325px;
        visibility: hidden;
        z-index: 100;
        @include transition (all .7s);
        &.shown {
          opacity: 1;
          top: 43px;
          visibility: visible;
          a {
            background-color:transparent;
            color: #fff;
            &:hover {
              background-color:transparent;
              color: #aac1cd;
            }
          }
        }
        li {
          padding:4px 0;
        }
        &:before {
          content: "";
          border:10px solid #000;
          border-top-color:transparent;
          border-right-color:transparent;
          border-left-color: transparent;
          position: absolute;
          top:-16px;
          left: 149px;
        }
      }
      #fan-club + ul {
        left: -132px;
        width: 370px;
        &:before {
          left: 182px;
        }
      }
    }
    a {
      border-radius: 7px;
      color: #fff;
      font-size: 1.3em;
      padding: 7px 10px;
      text-decoration: none;
      text-transform: uppercase;
      &:hover, &.active {
        background-color:#fff;
        color: $blue;
      }
    }
  }
}
#logo, #footer-logo {
  @include sprite(0 -479px);
  float: left;
  margin: 10px 0 0 20px;
  padding-top: 115px;
  position: relative;
  width: 268px;
}
#header-inner, #footer-inner {
  #emma-block {
    background: none;
    bottom:12px;
    width: 259px;
    h2 {
      display: none;
    }
    label {
      display: none;
    }
    form div {
      float: left;
    }
  }
    > div {
    background: url(../images/social-bg.png) no-repeat scroll 0 -11px;
    position: absolute;
    top:0;
    right: 0;
    width: 469px;
    ul {
      padding: 0;
      float: left;
      margin-left: 15px;
      margin-right: 20px;
    }
    li {
      display: inline-block;
      list-style: none;
      margin-right: 7px;
    }
    a {
      background-color: #fff;
      border-radius: 25px;
      color: $blue;
      font: 19px 'icomoon';
      padding: 8px;
      text-decoration: none;
      &:hover {
        background-color: #eee;
      }
    }
    input[type="text"] {
      margin-right: 7px;
      width: 185px;
    }
  }
}

/* ------------------------------------
 Content
-------------------------------------*/
#page-inner {
  padding-bottom: 60px;
  &.with-sidebar {
    background: url(../images/side-bg.png) repeat-y scroll 0 0;
  }
}
#main-content {
  padding:2%;
}
#main-wrap {
  background-color:#fff;
  border-radius: 10px;
  box-shadow: 3px 3px 7px #aaa;
  margin-top: 40px;
}
.with-sidebar #main-wrap {
  @include span-columns(6.7);
}
#sidebar {
  @include span-columns(3.1);
  height: 100%;
  margin-top: 40px;
}
.no-background #main-wrap {
  background-color:transparent;
  border-radius:0;
  box-shadow:none;
  margin-top: 0;
}

/* News */
.page-news {
  h1 {
    display: none;
  }
  #main-wrap {
    background-color:transparent;
    box-shadow:none;
  }
  #main-content {
    padding:0;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 3px 3px 7px #aaa;
      margin-bottom: 4%;
    }
    .views-field-created h3 {
      background: url(../images/h1-bg.jpg) no-repeat scroll left bottom #5e8599;
      border-radius:7px 7px 0 0;
      color: #fff;
      font-size: 1.7em; /* 68px */
      line-height: 1.1471em;
      margin: 0 0 0.3824em;
      padding: 2%;
    }
    .views-field-body {
      padding: 0 2% 2%;
      h2 a {
        border-bottom: 3px solid #dbe5ea;
        color: #666;
        display: block;
        font-size: 1.1em;
        padding-bottom: 10px;
        &:hover {
          color: #7f7f7f;
        }
      }
    }
  }
}
/* Tour Node */
.group_event_info {
  float: right;
  border: 2px solid #ccc;
  padding: 3%;
  margin: 0 0 2% 2%;
}
.group_event_links {
  > div {
    float: left;
    margin-left: 2%;
    width: 49%;
    &:first-child {
      margin-left: 0;
    }
  }
  .performance-event-timed-link, .meet-greet a {
    @include btn;
    background-color:#000;
    margin-bottom: 10px;
    padding: 1% 3%;
    &:hover {
      background-color:#5f5f5f;
    }
  }
  .meet-greet a {
    background-color: $blue;
    &:hover {
      background-color:#5f5f5f;
    }
  }
}

/* Media Page */
.pathone-media #main-content {
  #block-views-albums-tracks-block-1, #block-views-videos-block-1, #block-views-photo-galleries-block {
    background-color: $blue;
    border-radius:10px;
    color: #fff;
    float: left;
    padding: 1.5%;
    margin-right: 1%;
    width:32%;
    h2 {
      color: #000;
      margin-bottom: 10px;
      &:before {
        color: #fff;
        content: "T";
        font: 1em 'icomoon';
        margin-right: 10px;
        position: relative;
        top: 1px;
      }
    }
    .view-content ul {
      list-style: none;
      margin: 0;
      padding:0;
      li {
        margin-bottom: 20px;
        position: relative;
      }
    }
    img {
      display: block;
    }
    .views-field-title a, .views-field-name a {
      background-color: #2d4a59;
      display: block;
      padding:5%;
    }
    h3, h3 a {
      color: #fff;
      font-size: .9em;
      margin: 0;
      text-align: center;
    }
    .item-list-pager {
      height: 35px;
      position: relative;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      li {
        position: absolute;
        left: 0;
        top:0;
        &.current {
          display: none;
        }
        &.next {
          left:auto;
          right: 0;
        }
      }
      a {
        color: #000;
        display: block;
        padding-right: 27px;
        position: relative;
        text-transform: uppercase;
        &:after {
          content: "";
          border: 12px solid #fff;
          border-right: 8px solid transparent;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          display: block;
          position: absolute;
          right:0;
          top:6px;
        }
        &:hover {
          color: #fff;
        }
      }
      .previous a {
        padding-left:27px;
        &:after {
          border: 12px solid #fff;
          border-left: 8px solid transparent;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          left: 0;
          right: auto;
        }
      }
    }
  }
  #block-views-videos-block-1 {
    li > div:first-child {
      background-color:#6f96aa;
      padding-bottom: 50px;
    }
    .views-field-title a {
      background-color: transparent;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-top: 266px;
    }
  }
}
#main-content #block-views-videos-block-1 {
  h2:before {
    content: "v";
    font-size: 1.3em;
    text-transform: lowercase;
    top:4px;
  }
}
#main-content #block-views-photo-galleries-block {
  margin: 0;
  h2:before {
    content: "p";
    font-size: 1.1em;
    text-transform: lowercase;
    top:4px;
  }
  .views-field-name a {
    background-color:#3c6377;
  }
}

/* Albums */
.pathone-music {
  nav.tabs {
    position: absolute;
    top: 9px;
    left: 1%;
  }
  #main-wrap {
    background-color:$blue;
  }
  h1 {
    color: #fff;
    float: right;
    margin: 22px 0 17px;
    width: 53%;
  }
}
.pathone-music #sidebar #block-views-albums-tracks-disc-block ul {
    margin:0;
}
#block-views-albums-tracks-disc-block {
  overflow: hidden;
}
#sidebar #block-views-albums-tracks-disc-block li {
    float: left;
    margin: 0 6px;
}
.node-album {
  .content {
    font-size: 1.1em;
    position: relative;
    > div {
      float: left;
    }
  }
  p {
    background-color: #aac1cd;
    float: left;
    margin: 0 !important;
    padding: 2% 15% 2% 3%;
    width: 56%;
  }
  ol {
    clear: both;
    list-style: none;
    margin: 0;
    padding:2% 0;
    li {
      margin: 1% 0;
    }
  }
  .buy-link {
    @include btn;
    background-color:$blue;
    color: #000;
    float: right;
    position: relative;
    top: -49px;
    right: 20px;
  }
}
.node-mp3-track {
  clear: both;
  h2 {
    float: left;
    margin-bottom: 10px;
    a {
      color: #000;
      cursor: default;
      font-size: .8em;
      text-transform: capitalize;
    }
  }
  .content > div, .mejs-controls > div {
    display: none;
    &:first-child {
      display: block;
      float: right;
      margin-right: 2%;
    }
  }
  .lyrics {
    color: #fff;
    cursor: pointer;
    float: right;
    font: 1.1em/1.7em 'nexa_lightregular', sans-serif;
    margin: 0 2%;
    text-transform: uppercase;
  }
}
.mejs-time {
  display: none !important;
}
.mejs-container, .mejs-container .mejs-controls {
  background:none;
}
.mejs-controls .mejs-pause button {
  background-position: 1px -14px;
}
.mejs-controls .mejs-play button {
  background: none;
  color: #fff;
  font: 2em "icomoon";
  height: auto;
  line-height: 1em;
  width: auto;
}
.node-mp3-track p {
  font-size: .8em !important;
  margin-bottom: 10px;
  padding: 3%;
  width: 100%;
}

/* Photos Page */
.page-photos, .page-videos {
  #main-content {
    padding-top:0;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      float: left;
      margin: 0 2% 2%;
      width: 29%;
    }
  }
}
.page-videos #main-content li {
  width: 46%;
}

/* Meet & Greet Form */
.meet-greets h2 {
  font-size: 1em;
}
.node-meet_greet-form {
  input[type="submit"] {
    float: left;
    margin: 20px 0;
  }
  input[type="submit"]:first-child {
    float: right;
  }
}

/* Meet & Greet Page */
.pathone-meet-greet {
  h1 {
    background: none;
    color: #4b7c95;
    font-size: 1.7em;
    text-transform: uppercase;
    &:before {
      color: #000;
      content: "P";
      font: .8em 'icomoon';
      margin-right: 10px;
      position: relative;
      top: 1px;
    }
  }
}

/* Memberships Page */
.pathone-memberships {
  #main-content {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      margin-bottom: 3%;
      overflow: hidden;
      > div:first-child {
        float: left;
        margin-right: 2%;
      }
    }
    .views-field-view-node a {
      @include btn;
      float: left;
    }
  }
}

/* Cart/Checkout */
.page-cart, .page-checkout {
  #main-content table {
    width: 100%;
    input[type="text"] {
      background-color: #fff;
      width: 50px;
    }
  }
}
/* ------------------------------------
 Sidebar
-------------------------------------*/
#sidebar {
  h2 {
    color: #fff;
    font-size: 1.6em;
    margin-bottom: 5px;
  }
  #block-system-user-menu, #block-views-albums-tracks-disc-block, #block-user-login {
    background-color: $blue;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    padding: 5%;
    label {
      display: none;
    }
    ul {
      float: left;
      list-style: none;
      margin: 3% 9% 0 0;
      padding:0;
      a {
        color: #fff;
        font-size: .9em;
      }
    }
    input[type="submit"] {
      background-color:#000;
      &:hover {
        background-color:#2f2f2f;
      }
    }
  }
}

/* ------------------------------------
 Footer
-------------------------------------*/
footer {
  background:url(../images/footer-bg.png) repeat-x scroll 0 0;
  height: 286px;
  margin-top: -11px;
  position: relative;
  nav {
    margin: 0;
    ul {
      padding:0;
      ul {
        display: none;
      }
    }
    li {
      display: block;
      margin: 0 0 0;
    }
    a {
      font-size: 1.1em;
      display: block;
      line-height: 1em;
      padding:5px 10px;
      width: 200px;
    }
  }
}
#footer-inner {
  padding:2% 0 0;
  > * {
    float: left;
    margin-right: 2%;
  }
  h3 {
    color: #335769;
    text-align: center;
  }
  > div {
    background: none;
    float: right;
    position: static;
    width: auto;
    li {
      margin: 0 8px 0 0;
    }
    a {
      padding: 11px;
      font-size: 20px;
    }
  }
  p {
    color: #fff;
    float: right;
    margin: 0 10% 0 0;
    text-transform: uppercase;
    font-size: .95em;
    a {
      @include sprite(-348px -440px);
      display: inline-block;
      padding-top: 30px;
      width: 31px;
      position: relative;
      top: 8px;
      left: 1px;
      &:hover {
        opacity: .8;
      }
    }
  }
  #emma-block {
    background-color: #000;
    border-radius: 6px;
    padding: 1%;
    position: static;
    width: 296px;
    h2 {
      color: #fff;
      display: block;
      font-size: 1.2em;
      margin: 0;
      text-align: center;
      span {
        color: $blue;
      }
    }
    input[type="text"] {
      width: 214px;
    }
  }
}
#footer-logo {
  background-position: -349px 0;
  margin: 20px 70px 0 0;
  padding-top: 216px;
  width: 220px;
}
#knee-deep {
  margin: 26px 0 15px;
  span {
    @include sprite(-270px -483px);
    padding-top: 127px;
    width: 336px;
  }
}
