@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "defaults";

/* Font Usage
font-family: 'nexa_boldregular', sans-serif;
font-family: 'nexa_lightregular', sans-serif;
font-family: 'icomoon';
*/

#header-inner {
  background:url(../images/band-lg.png) no-repeat scroll center bottom;
  height: 560px;
}
#page-inner {
  background: none;
}
#main-wrap {
  @include span-columns(10);
  background-color: transparent;
  border-radius: none;
  box-shadow: none;
  margin-top: 0;
}
#main-content {
  padding: 6% 0;
}
#main-image {
  float: left;
  margin-right: 2%;
  position: relative;
  img {
    display: block;
  }
  h2 {
    background: url(../images/footer-bg.png) no-repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font: 3.7em 'nexa_lightregular', sans-serif;
    left: 0;
    line-height: 1.5em;
    margin: 0;
    padding: 9% 0 5%;
    position: absolute;
    text-align: center;
    width: 100%;
    span {
      border-bottom: 4px solid #fff;
      border-top: 4px solid #fff;
      display: block;
      margin: 0 auto;
      width: 90%;
    }
  }
}
h1 {
  background:none;
  color: #4b7c95;
  left: 0;
  position: absolute;
  text-align:center;
  text-transform: uppercase;
  top: -392px;
  width: 100%;
}
#page {
  background: url(../images/gray-bg2.png) repeat-x scroll 0 0;
  margin-top: -27px;
  position: relative;
}
