@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "defaults";

/* Font Usage
font-family: 'nexa_boldregular', sans-serif;
font-family: 'nexa_lightregular', sans-serif;
font-family: 'icomoon';
*/

#header-inner {
  background:url(../images/band-lg.png) no-repeat scroll center bottom;
  height: 560px;
}
#page-inner {
  background: none;
}
#main-wrap {
  @include span-columns(10);
  background-color: transparent;
  border-radius: none;
  box-shadow: none;
  margin-top: 0;
}
#main-content {
  padding: 6% 0 0;
  .view-header {
    position: absolute;
    left: 7%;
    top: -59px;
    width: 85%;
    p {
      margin: 0;
    }
    ul {
      margin: 0;
      padding:0;
    }
    li {
      background: none;
      border-radius:0;
      display: inline-block;
      opacity: 1;
      padding: 0 1%;
    }
    a {
      background:url(../images/black-bg.png) no-repeat scroll center center;
      border-radius:10px;
      color: #fff;
      display: block;
      padding: 6px 8px;
      text-align: center;
      text-transform: uppercase;
      width: 175px;
      &.active, &:hover {
        background-image:url(../images/footer-bg.png);
      }
    }
  }
  > ul {
    margin: 0;
    padding: 0;
    li {
      background-color: #fff;
      border-radius: 0 10px 10px 0;
      display: none;
      list-style: none;
      margin-bottom: 25px;
      overflow: hidden;
      &.Mark {
        display: inline-block;
      }
      &.active-target {
        display: inline-block;
      }
    }
  }
}
.js #main-content li {
  margin-bottom: 0;
}
#main-image {
  float: left;
  position: relative;
  img {
    display: block;
  }
  h2 {
    background: url(../images/footer-bg.png) no-repeat scroll top center;
    bottom: 0;
    color: #fff;
    font: 3.7em 'nexa_lightregular', sans-serif;
    left: 0;
    line-height: 1.6em;
    margin: 0;
    padding: 9% 0 5%;
    position: absolute;
    text-align: center;
    width: 100%;
    span {
      border-bottom: 4px solid #fff;
      border-top: 4px solid #fff;
      display: block;
      margin: 0 auto;
      width: 90%;
    }
  }
}
#page {
  background: url(../images/gray-bg2.png) repeat-x scroll 0 0;
  margin-top: -27px;
  position: relative;
  .bio-text {
    float: left;
    line-height: 1.6em;
    padding: 2%;
    width: 73%;
    h3 {
      border-bottom: 1px solid #dbe5ea;
      font-size: 1.4em;
      margin: 0;
      padding-bottom: 10px;
    }
    p {
      margin:10px 0 0;
    }
  }
  h1 {
    background:none;
    color: #4b7c95;
    left: 0;
    position: absolute;
    text-align:center;
    text-transform: uppercase;
    top: -392px;
    width: 100%;
  }
}
#post-content {
  background: url(../images/dkgray-bg.png) repeat-x scroll 0 0;
  margin-top: -20px;
  position: relative;
  .view-content ul {
    background: url(../images/blk50-rpt.png) repeat scroll 0 0;
    border-radius:10px;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 2% 2% 6%;
    li {
      float: left;
      margin: 1% 1.8%;
    }
  }
  .item-list-pager {
    text-align: center;
    width: 14%;
    margin: -55px auto 0;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      border: 9px solid #3d5562;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      display: block;
      float: left;
      height: 0;
      margin: 0 4%;
      position: relative;
      top: 3px;
      &.current {
        border:none;
        color: #fff;
        height: auto;
        top: -3px;
        width: auto;
      }
      &.last {
        border-left-color: #3d5562;
        border-right-color:transparent;
      }
      a {
        border: 9px solid #4b7c95;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        display: inline-block;
        height: 0;
        left: -9px;
        overflow: hidden;
        position: absolute;
        top: -9px;
        width: 0;
      }
      &.last a {
        border-left-color: #4b7c95;
        border-right-color:transparent;
      }
    }
  }
}
#post-inner {
  height: 435px;
  padding: 3% 0;
}
.view-filters {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
