@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "defaults";

/* Font Usage
font-family: 'nexa_boldregular', sans-serif;
font-family: 'nexa_lightregular', sans-serif;
font-family: 'icomoon';
*/

/* ------------------------------------
 Header
-------------------------------------*/
header {
  background-position: 0 -49px;
  @include desktop {
    background-position: 0 -62px;
  }
  nav {
    margin:0;
    position: absolute;
    top: 14%;
    right: 11%;
    @include desktop {
      margin: 5px 20px 0 0;
      position: static;
    }
    &:after {
      color: #fff;
      content: "m";
      cursor: pointer;
      font: 2.3em "icomoon";
      @include desktop {
        display: none;
      }
    }
    a {
      padding: 7px 13px;
      font-size: 1em;
    }
    > ul {
      left: -100px;
      opacity: 0;
      position: absolute;
      top: 41px;
      visibility: hidden;
      width: 288px;
      @include desktop {
        opacity: 1;
        position: static;
        visibility: visible;
        width: auto;
      }
      &.shown {
        opacity: 1;
        visibility: visible;
      }
      &:before {
        border:5px solid $blue;
        border-top:5px solid transparent;
        border-left:5px solid transparent;
        border-right:5px solid transparent;
        content: "";
        position:absolute;
        right: 10px;
        top:0;
        @include desktop {
          display: none;
        }
      }
    }
    li {
      ul {
        left: -100px;
        width: 288px;
        &:before {
          left: 131px;
        }
      }
      #fan-club + ul {
        left: -119px;
        width: 320px;
        &:before {
          left: 157px;
        }
      }
    }
  }
}
#header-inner {
  padding-bottom:50px;
  > div {
    background-position:0 0;
    bottom: 7px;
    display: none;
    position: absolute;
    right: 0;
    top: auto;
    @include desktop {
      display: block;
    }
  }
}
#logo {
  background-size: 375px;
  background-position: 0 -300px;
  margin-top: 8px;
  padding-top: 100px;
  width: 166px;
  @include desktop {
    background-size:auto;
    background-position:0 0;
    margin-top: 19px;
    padding-top: 479px;
    width: 339px;
  }
}
#band {
  background: url(../images/band.png) no-repeat scroll 0 0;
  display: block;
  height: 432px;
  width: 768px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
/* ------------------------------------
 Content
-------------------------------------*/
#page {
  background: url(../images/black-bg.png) repeat-x scroll 0 0;
  margin-top: -27px;
  padding:40px 0;
  position: relative;
}
#page-inner {
  background:url(../images/home-sprite.png) no-repeat scroll 0 0;
  height: 377px;
  padding: 0;
  border-radius: none;
  box-shadow: none;
}
h1, nav.tabs {
  display: none;
}
#main-content {
  padding: 0;
  > div {
    float: left;
    margin-right: 25px;
    padding: 20px;
    width: 415px;
    h2 {
      font-size: 30px;
      margin-bottom: 15px;
      text-transform: uppercase;
      &:before {
        color: #4b7c95;
        content: "n";
        display: block;
        float: left;
        font: 1em 'icomoon';
        margin-right: 9px;
        text-transform: lowercase;
      }
    }
    ul {
      list-style:none;
      margin: 0;
      padding: 0;
    }
    .views-field-created {
      font-weight: 700;
      color: #656666;
      float: left;
      font-size: 1.1em;
      margin-right: 7px;
    }
    .views-field-title {
      a {
        color: #000;
        display: block;
        font-size: 1.1em;
        &:hover {
          color: #6f6f6f;
        }
      }
      .more-link, .view-footer {
        clear: both;
        display: block;
        float: left;
        color: #4b7c95;
        text-transform: uppercase;
      }
    }
    li {
      clear: both;
      margin: 0 0 5px;
      overflow: hidden;
    }
    .more-link, .view-footer {
      text-align: center;
      a {
        font-size: .8em;
        color: #000;
        text-transform: uppercase;
        &:after {
          content: "a";
          font: 1em 'icomoon';
          position: relative;
          top: 2px;
          text-transform: lowercase;
        }
      }
    }
    & + div {
      h2 {
        color: #fff;
        margin-bottom: 8px;
        &:before {
          color: #000;
          content: "b";
          font-size: .8em;
          margin-right: 10px;
          position: relative;
          top: 3px;
        }
      }
      li {
        margin-bottom: 8px;
      }
    }
  }
  #block-views-tweets-block {
    margin: 0;
    padding: 1.6% 1%;
    width: 300px;
    h2 {
      margin-left: 5px;
      margin-bottom: 15px;
      &:before {
        content: "t";
        background-color: #fff;
        padding: 2%;
        border-radius: 5px;
        top: -2px;
        margin: 0;
        left: -10px;
      }
    }
  }
  h3 {
    margin-bottom: 0;
  }
}
#main-content .events h2 {
  margin-bottom: 10px;
}
.events {
  left: -3px;
  position: relative;
  li {
    background-color: #fff;
    border-radius: 8px;
    line-height:1.4em;
    padding: 0 3%;
    text-transform: uppercase;
    > * {
      clear: right;
      float: right;
    }
    h3 {
      font-size: 1.35em;
      margin-top: 10px;
    }
    > span {
      line-height:1em;
      a {
        color: $ltgray;
        &:hover {
          color: $blue;
        }
      }
    }
    .views-field-field-time {
      border-right: 2px solid;
      clear: none;
      margin-right: 5px;
      padding-right: 5px;
    }
  }
}
.events .views-field-field-date-1 {
  background-color: #000;
  border-radius: 5px 0 0 6px;
  float: left;
  line-height: 1.6em;
  padding: 10px;
  margin-left: -3.4%;
  text-transform: uppercase;
  width: 23%;
  .field-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 4px 4px 0;
    text-align: center;
  }
  .month {
    font-size: 1em;
  }
  .day {
    color: $ltgray;
    font-size: 2em;
  }
}
.location {
  font-size: 1.4em;
  margin-bottom: 2px;
}
/* Twitter Block Specific */
#block-views-tweets-block li {
  background-color: #565656;
  position: relative;
  left: -7px;
  width: 284px;
  top: -3px;
  padding: 2% 3% 0;
  + li {
    top: 0;
    padding-bottom: 1%;
  }
}
.views-field-created-time {
  display: block;
  font-size: .9em;
  line-height: 1em;
}
.views-field-text {
  color: #fff;
  font-size: .9em;
  line-height: 1.3em;
}
#main-content > div .view-footer p {
  margin: 0;
  position: relative;
  top: -4px;
}
#main-content > div .view-footer a {
  color: #fff;
  font-size: .8em;
}

/* ----------------------------
 Post Content - Merch Section
------------------------------*/
#post-content {
  background:url(../images/gray-bg2.png) repeat scroll 0 0;
  height: 415px;
  margin-top: -59px;
  padding-top: 61px;
}
#post-inner {
  background-color: #fff;
  border-radius: 10px;
  padding: 1% 3%;
  h2 {
    color: #000;
    font-size: 1.9em;
    margin-bottom: 5px;
    text-align:center;
    &:before {
      color: $blue;
      content: "c";
      font: 1.1em 'icomoon';
      margin-right: 10px;
      position: relative;
      text-transform: lowercase;
      top: 1px;
    }
  }
  div > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      background-color: #eee;
      float: left;
      width: 48%;
      &:first-child {
        margin-right: 4%;
      }
      div:first-child {
        float: left;
        margin-right: 2%;
        img {
          display: block;
        }
      }
    }
    h3, .price {
      font-size: 1.5em;
      margin: 10px 0 5px;
    }
    p {
      font: 1.5em 'nexa_lightregular', sans-serif;
      margin: 0;
      text-transform: uppercase;
    }
    .views-field-view-node {
      float: left;
      margin: 2% 20% 0 0;
      width: 28%;
      a {
        @include btn;
        background-color:$blue;
        border-radius:10px;
        font: 1.4em 'nexa_lightregular', sans-serif;
        padding:7px;
        text-transform: uppercase;
      }
    }
  }
}
#block-views-memberships-block-1 .view-footer a {
  color: #000;
  display: block;
  font-size: .9em;
  overflow: hidden;
  padding-top: 8px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  &:hover {
    color: #aaa;
  }
  &:after {
    content: "a";
    font: 1em 'icomoon';
    position: relative;
    top: 2px;
    text-transform: lowercase;
  }
}
