@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "defaults";

/* Font Usage
font-family: 'nexa_boldregular', sans-serif;
font-family: 'nexa_lightregular', sans-serif;
font-family: 'icomoon';
*/

/* ------------------------------------
 Header
-------------------------------------*/
.header-inner {
  padding-bottom:50px;
  > div {
    position: absolute;
    bottom: 7px;
    right: 0;
    width: 469px;
    ul {
      padding: 0;
      float: left;
      margin-left: 15px;
      margin-right: 20px;
    }
    li {
      display: inline-block;
      list-style: none;
      margin-right: 7px;
    }
    a {
      background-color: #fff;
      border-radius: 25px;
      color: $blue;
      font: 19px 'icomoon';
      padding: 8px;
      text-decoration: none;
    }
    input[type="text"] {
      margin-right: 7px;
      width: 185px;
    }
  }
}
.band {
  background: url(../images/band.png) no-repeat scroll 0 0;
  display: block;
  height: 432px;
  width: 768px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
/* ------------------------------------
 Content
-------------------------------------*/
.page {
  background: url(../images/black-bg.png) repeat-x scroll 0 0;
  margin-top: -27px;
  padding:40px 0;
  position: relative;
}
.page-inner {
  background:url(../images/home-sprite.png) no-repeat scroll 0 0;
}
h1 {
  display: none;
}
