* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'nexa_boldregular';
  src: url("../fonts/Nexa_Free_Bold-webfont.eot");
  src: url("../fonts/Nexa_Free_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Free_Bold-webfont.woff") format("woff"), url("../fonts/Nexa_Free_Bold-webfont.ttf") format("truetype"), url("../fonts/Nexa_Free_Bold-webfont.svg#nexa_boldregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nexa_lightregular';
  src: url("../fonts/Nexa_Free_Light-webfont.eot");
  src: url("../fonts/Nexa_Free_Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Free_Light-webfont.woff") format("woff"), url("../fonts/Nexa_Free_Light-webfont.ttf") format("truetype"), url("../fonts/Nexa_Free_Light-webfont.svg#nexa_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Font Usage
font-family: 'nexa_boldregular', sans-serif;
font-family: 'nexa_lightregular', sans-serif;
font-family: 'icomoon';
*/
/* ------------------------------------
 Drupal defaults
-------------------------------------*/
#sidebar .block {
  clear: both;
  margin-bottom: 20px; }

.view-content ul, .view-content ol {
  margin: 0;
  padding: 0; }

.item-list ul li.views-row, .views-row {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

/* tabs */
ul.primary {
  height: 26px;
  margin-left: 0;
  padding-left: 1%; }
  ul.primary li {
    display: inline;
    margin: 0;
    padding: 0; }
    ul.primary li a {
      border-radius: 3px 3px 0 0;
      font-size: .8em;
      padding: 7px 7px 5px; }

/* Forms */
form small, form .description {
  color: #5f5f5f; }

label, label.required {
  color: #455f93;
  font-weight: 500; }

input[type="text"], input[type="password"], input[type="email"] {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font: 1em 'nexa_lightregular', sans-serif;
  margin: 10px 0;
  padding: 10px;
  /* all */
  /* firefox 19+ */
  /* ie */ }
  input[type="text"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder, input[type="email"]:focus::-webkit-input-placeholder {
    color: #ccc; }
  input[type="text"]:focus::-moz-placeholder, input[type="password"]:focus::-moz-placeholder, input[type="email"]:focus::-moz-placeholder {
    color: #ccc; }
  input[type="text"]:focus:-ms-input-placeholder, input[type="password"]:focus:-ms-input-placeholder, input[type="email"]:focus:-ms-input-placeholder {
    color: #ccc; }

#main-content input[type="text"], #main-content input[type="password"], #main-content input[type="email"] {
  background-color: #f2f2f2; }

input[type="submit"] {
  background: #3d3d3d;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font: 1em 'nexa_lightregular', sans-serif;
  padding: 10px 6px;
  margin-top: 10px;
  text-transform: uppercase; }
  input[type="submit"]:hover {
    background-color: #505050; }

textarea {
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 4px 0 0;
  min-height: 150px;
  padding: 2%; }

#page input[type="submit"] {
  background-color: #aaa;
  color: #fff;
  display: block;
  font-family: 'nexa_boldregular', sans-serif;
  font-weight: 800;
  padding: 0.1% 1.5%;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: .9em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  padding: 6px 18px; }
  #page input[type="submit"]:hover {
    background-color: #b6b6b6;
    text-decoration: none; }

/* User Login */
#user-login div {
  margin: 15px 0; }
#user-login label {
  display: block; }

/* responsive images, videos */
img, object, video {
  height: auto; }

/* Overrides for Media module to make fitVids work */
.media-youtube-outer-wrapper, .media-youtube-preview-wrapper, .media-vimeo-outer-wrapper, .media-vimeo-preview-wrapper {
  height: auto !important;
  width: auto !important; }

.views-field-title h2 {
  margin-bottom: 5px; }
.views-field-title a {
  color: #000; }
  .views-field-title a:hover {
    color: #666666; }

.views-field-body p {
  margin-top: 0; }

body {
  color: #333333;
  font-family: 'nexa_boldregular', sans-serif;
  font-size: 100%;
  line-height: 2em; }

.field-name-body ul li {
  height: auto;
  list-style: none;
  overflow: visible;
  padding-left: 2%; }

/* Tables */
td, th {
  padding: 2%; }

#page, #page p {
  font-size: 1.1em; }

#page p {
  margin-bottom: 20px; }

/* - Typography Basics - from Gridless http://thatcoolguy.github.com/gridless-boilerplate/ */
h1, h2, h3, h4, h5, h6 {
  color: #666666;
  font-size: 1em;
  font-weight: normal;
  margin: 0 0 .5em; }

h1 {
  background: url(../images/h1-bg.jpg) no-repeat scroll left bottom #5e8599;
  border-radius: 7px 7px 0 0;
  color: #fff;
  font-size: 2em;
  /* 68px */
  line-height: 1.1471em;
  margin: 0 0 0.3824em;
  padding: 2%; }

h2 {
  font-size: 1.3em;
  line-height: 1.2381em;
  margin: 0 0 0.919em;
  text-transform: uppercase; }

h3 {
  font-size: 1.2em;
  /* 26px */
  line-height: 1em;
  margin: 0 0 1em;
  text-transform: uppercase; }

h4 {
  font-size: 1.15em; }

h5 {
  font-size: 1.1em; }

a {
  color: #4b7c95;
  text-decoration: none; }
  a:hover {
    color: #909090; }

.button {
  background-color: #aaa;
  color: #fff;
  display: block;
  font-family: 'nexa_boldregular', sans-serif;
  font-weight: 800;
  padding: 0.1% 1.5%;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: .9em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .button:hover {
    background-color: #b6b6b6;
    text-decoration: none; }

blockquote {
  clear: both;
  font-style: italic;
  position: relative;
  padding: 20px 39px 21px 30px;
  box-shadow: 2px 2px 3px #eeeeee;
  margin: 10px;
  border-radius: 7px; }
  blockquote p {
    display: inline; }

/* ------------------------------------
 Layout & General
-------------------------------------*/
#header-inner, #page-inner, #post-inner, #footer-inner {
  *zoom: 1;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  #header-inner:before, #header-inner:after, #page-inner:before, #page-inner:after, #post-inner:before, #post-inner:after, #footer-inner:before, #footer-inner:after {
    content: " ";
    display: table; }
  #header-inner:after, #page-inner:after, #post-inner:after, #footer-inner:after {
    clear: both; }

body {
  background: url(../images/blue-bg.jpg); }

.back-link {
  background-color: #aaa;
  color: #fff;
  display: block;
  font-family: 'nexa_boldregular', sans-serif;
  font-weight: 800;
  padding: 0.1% 1.5%;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: .9em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #4b7c95;
  float: left;
  margin-bottom: 16px; }
  .back-link:hover {
    background-color: #b6b6b6;
    text-decoration: none; }
  .back-link:before {
    content: "«";
    padding-right: 6px; }

/* ------------------------------------
 Header
-------------------------------------*/
header, footer {
  background: url(../images/nav-bg.png) repeat-x scroll 0 0;
  display: block;
  width: 100%; }
  header nav, footer nav {
    float: right;
    margin-top: 70px;
    position: relative; }
    header nav li, footer nav li {
      display: inline-block;
      margin-left: 5px;
      position: relative; }
      header nav li.active a, footer nav li.active a {
        background-color: #fff;
        color: #4b7c95; }
      header nav li ul, footer nav li ul {
        background-color: #000;
        border-radius: 10px;
        padding: 0;
        position: absolute;
        top: 39px;
        left: -115px;
        opacity: 0;
        width: 325px;
        visibility: hidden;
        z-index: 100;
        -webkit-transition: all 0.7s;
        -moz-transition: all 0.7s;
        transition: all 0.7s; }
        header nav li ul.shown, footer nav li ul.shown {
          opacity: 1;
          top: 43px;
          visibility: visible; }
          header nav li ul.shown a, footer nav li ul.shown a {
            background-color: transparent;
            color: #fff; }
            header nav li ul.shown a:hover, footer nav li ul.shown a:hover {
              background-color: transparent;
              color: #aac1cd; }
        header nav li ul li, footer nav li ul li {
          padding: 4px 0; }
        header nav li ul:before, footer nav li ul:before {
          content: "";
          border: 10px solid #000;
          border-top-color: transparent;
          border-right-color: transparent;
          border-left-color: transparent;
          position: absolute;
          top: -16px;
          left: 149px; }
      header nav li #fan-club + ul, footer nav li #fan-club + ul {
        left: -132px;
        width: 370px; }
        header nav li #fan-club + ul:before, footer nav li #fan-club + ul:before {
          left: 182px; }
    header nav a, footer nav a {
      border-radius: 7px;
      color: #fff;
      font-size: 1.3em;
      padding: 7px 10px;
      text-decoration: none;
      text-transform: uppercase; }
      header nav a:hover, header nav a.active, footer nav a:hover, footer nav a.active {
        background-color: #fff;
        color: #4b7c95; }

#logo, #footer-logo {
  background: url(../images/sprite.png) no-repeat scroll 0 0;
  background-position: 0 -479px;
  display: block;
  height: 0;
  overflow: hidden;
  float: left;
  margin: 10px 0 0 20px;
  padding-top: 115px;
  position: relative;
  width: 268px; }

#header-inner > div, #footer-inner > div {
  background: url(../images/social-bg.png) no-repeat scroll 0 -11px;
  position: absolute;
  top: 0;
  right: 0;
  width: 469px; }
  #header-inner > div ul, #footer-inner > div ul {
    padding: 0;
    float: left;
    margin-left: 15px;
    margin-right: 20px; }
  #header-inner > div li, #footer-inner > div li {
    display: inline-block;
    list-style: none;
    margin-right: 7px; }
  #header-inner > div a, #footer-inner > div a {
    background-color: #fff;
    border-radius: 25px;
    color: #4b7c95;
    font: 19px 'icomoon';
    padding: 8px;
    text-decoration: none; }
  #header-inner > div input[type="text"], #footer-inner > div input[type="text"] {
    margin-right: 7px;
    width: 185px; }

/* ------------------------------------
 Content
-------------------------------------*/
#page-inner {
  background: url(../images/side-bg.png) repeat-y scroll 0 0;
  padding-bottom: 60px; }

#main-content {
  padding: 2%; }

#main-wrap {
  display: block;
  float: left;
  margin-right: 2.6087%;
  width: 66.13913%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 7px #aaa;
  margin-top: 40px; }
  #main-wrap:last-child {
    margin-right: 0; }

#sidebar {
  display: block;
  float: left;
  margin-right: 2.6087%;
  width: 29.2%;
  height: 100%;
  margin-top: 40px; }
  #sidebar:last-child {
    margin-right: 0; }

/* News */
.page-news h1 {
  display: none; }
.page-news #main-wrap {
  background-color: transparent;
  box-shadow: none; }
.page-news #main-content {
  padding: 0; }
  .page-news #main-content ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .page-news #main-content li {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 7px #aaa;
    margin-bottom: 4%; }
  .page-news #main-content .views-field-created h3 {
    background: url(../images/h1-bg.jpg) no-repeat scroll left bottom #5e8599;
    border-radius: 7px 7px 0 0;
    color: #fff;
    font-size: 1.7em;
    /* 68px */
    line-height: 1.1471em;
    margin: 0 0 0.3824em;
    padding: 2%; }
  .page-news #main-content .views-field-body {
    padding: 0 2% 2%; }
    .page-news #main-content .views-field-body h2 a {
      border-bottom: 3px solid #dbe5ea;
      color: #666;
      display: block;
      font-size: 1.1em;
      padding-bottom: 10px; }
      .page-news #main-content .views-field-body h2 a:hover {
        color: #7f7f7f; }

/* Tour Node */
.group_event_info {
  float: right;
  border: 2px solid #ccc;
  padding: 3%;
  margin: 0 0 2% 2%; }

.group_event_links > div {
  float: left;
  margin-left: 2%;
  width: 49%; }
  .group_event_links > div:first-child {
    margin-left: 0; }
.group_event_links .performance-event-timed-link, .group_event_links .meet-greet a {
  background-color: #aaa;
  color: #fff;
  display: block;
  font-family: 'nexa_boldregular', sans-serif;
  font-weight: 800;
  padding: 0.1% 1.5%;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: .9em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #000;
  margin-bottom: 10px;
  padding: 1% 3%; }
  .group_event_links .performance-event-timed-link:hover, .group_event_links .meet-greet a:hover {
    background-color: #b6b6b6;
    text-decoration: none; }
  .group_event_links .performance-event-timed-link:hover, .group_event_links .meet-greet a:hover {
    background-color: #5f5f5f; }
.group_event_links .meet-greet a {
  background-color: #4b7c95; }
  .group_event_links .meet-greet a:hover {
    background-color: #5f5f5f; }

/* Meet & Greet Form */
.meet-greets h2 {
  font-size: 1em; }

.node-meet_greet-form input[type="submit"] {
  float: left;
  margin: 20px 0; }
.node-meet_greet-form input[type="submit"]:first-child {
  float: right; }

/* Meet & Greet Page */
.pathone-meet-greet h1 {
  background: none;
  color: #4b7c95;
  font-size: 1.7em;
  text-transform: uppercase; }
  .pathone-meet-greet h1:before {
    color: #000;
    content: "P";
    font: .8em 'icomoon';
    margin-right: 10px;
    position: relative;
    top: 1px; }

/* ------------------------------------
 Sidebar
-------------------------------------*/
.pathone-join #sidebar h2, .logged-in #sidebar h2 {
  color: #fff;
  font-size: 1.6em;
  margin-bottom: 5px; }
.pathone-join #sidebar > *:first-child, .logged-in #sidebar > *:first-child {
  background-color: #4b7c95;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
  padding: 5%; }
  .pathone-join #sidebar > *:first-child label, .logged-in #sidebar > *:first-child label {
    display: none; }
  .pathone-join #sidebar > *:first-child ul, .logged-in #sidebar > *:first-child ul {
    float: left;
    list-style: none;
    margin: 3% 9% 0 0;
    padding: 0; }
    .pathone-join #sidebar > *:first-child ul a, .logged-in #sidebar > *:first-child ul a {
      color: #fff;
      font-size: .9em; }
  .pathone-join #sidebar > *:first-child input[type="submit"], .logged-in #sidebar > *:first-child input[type="submit"] {
    background-color: #000; }
    .pathone-join #sidebar > *:first-child input[type="submit"]:hover, .logged-in #sidebar > *:first-child input[type="submit"]:hover {
      background-color: #2f2f2f; }

/* ------------------------------------
 Footer
-------------------------------------*/
footer {
  background: url(../images/footer-bg.png) repeat-x scroll 0 0;
  height: 286px;
  margin-top: -11px;
  position: relative; }
  footer nav {
    margin: 0; }
    footer nav ul {
      padding: 0; }
      footer nav ul ul {
        display: none; }
    footer nav li {
      display: block;
      margin: 0 0 0; }
    footer nav a {
      font-size: 1.1em;
      display: block;
      line-height: 1em;
      padding: 5px 10px;
      width: 200px; }

#footer-inner {
  padding: 2% 0 0; }
  #footer-inner > * {
    float: left;
    margin-right: 2%; }
  #footer-inner h3 {
    color: #335769;
    text-align: center; }
  #footer-inner > div {
    background: none;
    float: right;
    position: static;
    width: auto; }
    #footer-inner > div input {
      display: none;
      /* remove */ }
    #footer-inner > div li {
      margin: 0 8px 0 0; }
    #footer-inner > div a {
      padding: 11px;
      font-size: 20px; }
  #footer-inner p {
    color: #fff;
    float: right;
    margin: 0 10% 0 0;
    text-transform: uppercase;
    font-size: .95em; }
    #footer-inner p a {
      background: url(../images/sprite.png) no-repeat scroll 0 0;
      background-position: -348px -440px;
      display: block;
      height: 0;
      overflow: hidden;
      display: inline-block;
      padding-top: 30px;
      width: 31px;
      position: relative;
      top: 8px;
      left: 1px; }
      #footer-inner p a:hover {
        opacity: .8; }

#footer-logo {
  background-position: -349px 0;
  margin: 20px 70px 0 0;
  padding-top: 216px;
  width: 220px; }

#knee-deep {
  margin: 26px 0 15px; }
  #knee-deep span {
    background: url(../images/sprite.png) no-repeat scroll 0 0;
    background-position: -270px -483px;
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 127px;
    width: 336px; }
