* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'nexa_boldregular';
  src: url("../fonts/Nexa_Free_Bold-webfont.eot");
  src: url("../fonts/Nexa_Free_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Free_Bold-webfont.woff") format("woff"), url("../fonts/Nexa_Free_Bold-webfont.ttf") format("truetype"), url("../fonts/Nexa_Free_Bold-webfont.svg#nexa_boldregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nexa_lightregular';
  src: url("../fonts/Nexa_Free_Light-webfont.eot");
  src: url("../fonts/Nexa_Free_Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Free_Light-webfont.woff") format("woff"), url("../fonts/Nexa_Free_Light-webfont.ttf") format("truetype"), url("../fonts/Nexa_Free_Light-webfont.svg#nexa_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Font Usage
font-family: 'nexa_boldregular', sans-serif;
font-family: 'nexa_lightregular', sans-serif;
font-family: 'icomoon';
*/
/* ------------------------------------
 Header
-------------------------------------*/
header {
  background-position: 0 -62px; }
  header nav {
    margin: 5px 20px 0 0; }
    header nav a {
      padding: 7px 13px;
      font-size: 1em; }
    header nav li ul {
      left: -100px;
      width: 288px; }
      header nav li ul:before {
        left: 131px; }
    header nav li #fan-club + ul {
      left: -119px;
      width: 320px; }
      header nav li #fan-club + ul:before {
        left: 157px; }

#header-inner {
  padding-bottom: 50px; }
  #header-inner > div {
    background-position: 0 0;
    position: absolute;
    bottom: 7px;
    right: 0;
    top: auto; }

#logo {
  background-position: 0 0;
  margin-top: 19px;
  padding-top: 479px;
  width: 339px; }

#band {
  background: url(../images/band.png) no-repeat scroll 0 0;
  display: block;
  height: 432px;
  width: 768px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1; }

/* ------------------------------------
 Content
-------------------------------------*/
#page {
  background: url(../images/black-bg.png) repeat-x scroll 0 0;
  margin-top: -27px;
  padding: 40px 0;
  position: relative; }

#page-inner {
  background: url(../images/home-sprite.png) no-repeat scroll 0 0;
  padding: 0;
  border-radius: none;
  box-shadow: none; }

h1, nav.tabs {
  display: none; }

#main-content {
  padding: 0; }
  #main-content > div {
    float: left;
    margin-right: 25px;
    padding: 20px;
    width: 415px; }
    #main-content > div h2 {
      font-size: 30px;
      margin-bottom: 15px;
      text-transform: uppercase; }
      #main-content > div h2:before {
        color: #4b7c95;
        content: "n";
        display: block;
        float: left;
        font: 1em 'icomoon';
        margin-right: 9px;
        text-transform: lowercase; }
    #main-content > div ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    #main-content > div .views-field-created {
      font-weight: 700;
      color: #656666;
      float: left;
      font-size: 1.1em;
      margin-right: 7px; }
    #main-content > div .views-field-title a {
      color: #000;
      display: block;
      font-size: 1.1em; }
      #main-content > div .views-field-title a:hover {
        color: #6f6f6f; }
    #main-content > div .views-field-title .more-link {
      clear: both;
      display: block;
      float: left;
      color: #4b7c95;
      text-transform: uppercase; }
    #main-content > div li {
      clear: both;
      margin: 0 0 5px;
      overflow: hidden; }
    #main-content > div .more-link {
      text-align: center; }
      #main-content > div .more-link a {
        font-size: .8em;
        color: #000;
        text-transform: uppercase; }
        #main-content > div .more-link a:after {
          content: "a";
          font: 1em 'icomoon';
          position: relative;
          top: 2px;
          text-transform: lowercase; }
    #main-content > div + div h2 {
      color: #fff;
      margin-bottom: 8px; }
      #main-content > div + div h2:before {
        color: #000;
        content: "b";
        font-size: .8em;
        margin-right: 10px;
        position: relative;
        top: 3px; }
    #main-content > div + div li {
      margin-bottom: 8px; }
  #main-content h3 {
    margin-bottom: 0; }

#main-content .events h2 {
  margin-bottom: 10px; }

.events {
  left: -3px;
  position: relative; }
  .events li {
    background-color: #fff;
    border-radius: 8px;
    line-height: 1.4em;
    padding: 0 3%;
    text-transform: uppercase; }
    .events li > * {
      clear: right;
      float: right; }
    .events li h3 {
      font-size: 1.35em;
      margin-top: 10px; }
    .events li > span {
      line-height: 1em; }
      .events li > span a {
        color: #909090; }
        .events li > span a:hover {
          color: #4b7c95; }
    .events li .views-field-field-time {
      border-right: 2px solid;
      clear: none;
      margin-right: 5px;
      padding-right: 5px; }

.events .views-field-field-date-1 {
  background-color: #000;
  border-radius: 5px 0 0 6px;
  float: left;
  line-height: 1.6em;
  padding: 10px;
  margin-left: -3.4%;
  text-transform: uppercase;
  width: 23%; }
  .events .views-field-field-date-1 .field-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 4px 4px 0;
    text-align: center; }
  .events .views-field-field-date-1 .month {
    font-size: 1em; }
  .events .views-field-field-date-1 .day {
    color: #909090;
    font-size: 2em; }

.location {
  font-size: 1.4em;
  margin-bottom: 2px; }

#post-content {
  background: url(../images/gray-bg2.png) repeat scroll 0 0;
  height: 415px;
  margin-top: -59px;
  padding-top: 61px; }

#post-inner {
  background-color: #fff;
  border-radius: 10px;
  padding: 1% 3%; }
  #post-inner h2 {
    color: #000;
    font-size: 1.9em;
    margin-bottom: 5px;
    text-align: center; }
    #post-inner h2:before {
      color: #4b7c95;
      content: "c";
      font: 1.1em 'icomoon';
      margin-right: 10px;
      position: relative;
      text-transform: lowercase;
      top: 1px; }
  #post-inner div > ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #post-inner div > ul li {
      background-color: #eee;
      float: left;
      width: 48%; }
      #post-inner div > ul li:first-child {
        margin-right: 4%; }
      #post-inner div > ul li div:first-child {
        float: left;
        margin-right: 2%; }
        #post-inner div > ul li div:first-child img {
          display: block; }
    #post-inner div > ul h3, #post-inner div > ul .price {
      font-size: 1.5em;
      margin: 10px 0 5px; }
    #post-inner div > ul p {
      font: 1.5em 'nexa_lightregular', sans-serif;
      margin: 0;
      text-transform: uppercase; }
    #post-inner div > ul .views-field-view-node {
      float: left;
      margin: 2% 20% 0 0;
      width: 28%; }
      #post-inner div > ul .views-field-view-node a {
        background-color: #aaa;
        color: #fff;
        display: block;
        font-family: 'nexa_boldregular', sans-serif;
        font-weight: 800;
        padding: 0.1% 1.5%;
        border-radius: 5px;
        text-align: center;
        text-transform: uppercase;
        font-size: .9em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        background-color: #4b7c95;
        border-radius: 10px;
        font: 1.4em 'nexa_lightregular', sans-serif;
        padding: 7px;
        text-transform: uppercase; }
        #post-inner div > ul .views-field-view-node a:hover {
          background-color: #b6b6b6;
          text-decoration: none; }
